
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
$font-header-family: 'Roboto', sans-serif;
$font-body-family: 'Open Sans', sans-serif;
$primary-color:#f1faee;
$secondary-color: #a8dadc;
$navigation-color: #1d3557;
$footer-color: #9bbbe9;;
$nice-red: #e63946;
$all-white: #ffffff;

body{
    background-color: $primary-color;
    font-family: $font-body-family;
    font-size: 16px;
}

.jumbotron{
    background-color: $secondary-color;
}

.navbar{
    background-color: $navigation-color;
}

.footer{
    background-color: $footer-color;
    padding: 20px 0px 20px 0px;
    margin-top: 30px;
    height: 100%;
}

h2, h3, h4{
    font-family: $font-header-family;
    font-weight: bold;
}
.footer a:hover {
    text-shadow: 0 0 4px $all-white;
}

.row-content{
    margin-bottom: 20px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}

.btn-primary{
    background-color: $navigation-color;
    color: $all-white;
}